language: rust
rust:
  - stable

arch:
  - amd64
# NOTE: clang_Cursor_isFunctionInlined is not supported by Travis-CI Arm64 VMs, but required
#  - arm64

matrix:
  include:
    - os: osx
      arch: amd64
    - os: linux
      arch: amd64
# NOTE: clang_Cursor_isFunctionInlined is not supported by Travis-CI Arm64 VMs, but required
#    - os: linux
#      arch: arm64

compiler:
  - clang

script:
  - cargo test --verbose
  - cargo test --verbose --release